---
import AreaTable from "@/components/AreaTable.astro";
import Centered from "@/layouts/Centered.astro";
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { ChevronLeft, ChevronLeftSquare } from "lucide-react";

export const getStaticPaths: GetStaticPaths = async () => {
  const climbingAreas = await getCollection("climbingAreas");
  return climbingAreas.map((entry) => ({
    params: { areaSlug: entry.slug },
    props: { entry },
  }));
};

const { entry } = Astro.props;
const { Content } = await entry.render();

const climbingRoutes = await getCollection(
  "climbingRoutes",
  ({ data }) => data.area.slug === entry.slug
);
---

<Layout>
  <Centered>
    <div class="prose dark:prose-invert">
      <h1>
        {entry.data.title}
      </h1>
      <AreaTable entry={entry} />
      <Content />
      {
        climbingRoutes.length > 0 && (
          <>
            <h2>Routes</h2>
            <ol>
              {climbingRoutes.map((route) => (
                <li>
                  <a href={`/areas/${entry.slug}/routes/${route.slug}`}>
                    {route.data.title}
                  </a>
                </li>
              ))}
            </ol>
          </>
        )
      }
    </div>
  </Centered>
</Layout>
