---
import { getCollection } from "astro:content";
import { Button, buttonVariants } from "./ui/button";
import type { Link } from "@/lib/types";
import { cn } from "@/lib/utils";

const areas = await getCollection("climbingAreas");

const links: Link[] = [
  { name: "Home", link: "/", selected: (pathname) => pathname === "/" },
  {
    name: "Climbing Areas",
    link: "/areas",
    selected: (pathname) => pathname.startsWith("/areas"),
    children: areas.map((area) => ({
      name: area.data.title,
      link: `/areas/${area.slug}`,
      selected: (pathname) => pathname.startsWith(`/areas/${area.slug}`),
    })),
  },
  {
    name: "Resources",
    link: "/resources",
    selected: (pathname) => pathname.startsWith("/resources"),
  },
  {
    name: "Contact",
    link: "/contact",
    selected: (pathname) => pathname.startsWith("/contact"),
  },
];
---

<header
  class="bg-card border-b shadow px-6 py-4 flex justify-between items-center"
>
  <a href="/">
    <h1 class="text-xl font-bold">🧗 RockClimbPG</h1>
  </a>
  <ul class="flex gap-3">
    {
      links.map((link) => (
        <li class="relative group">
          <a
            href={link.link}
            class={buttonVariants({
              variant: link.selected(Astro.url.pathname)
                ? "default"
                : "secondary",
            })}
          >
            {link.name}
          </a>
          {link.children && (
            <div class="absolute hidden md:group-hover:flex bg-card shadow border flex-col gap-1 p-1 min-w-[10rem] rounded-md">
              {link.children.map((child) => (
                <a
                  href={child.link}
                  class={cn(
                    "w-full justify-start",
                    buttonVariants({
                      variant: child.selected(Astro.url.pathname)
                        ? "secondary"
                        : "ghost",
                    })
                  )}
                >
                  {child.name}
                </a>
              ))}
            </div>
          )}
        </li>
      ))
    }
  </ul>
</header>
